<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% block info %}
            <h2>{{error}} </h2>
        {% endblock %}
        {% block form %}
        {% if not form %}
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30"
               {% if username %} value= {{username}} {% endif %} required>
        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" minlength="8"
               {% if password %} value= {{password}} {% endif %} required>

        <label for="repeat_password">Повторите пароль</label>
        <input type="text" id="repeat_password" name="repeat_password" minlength="8"
               {% if repeat_password %} value= {{repeat_password}} {% endif %} required>

        <label for="age">Введите свой возраст</label>
        <input type="number" id="age" name="age" maxlength="3" {% if age %} value= {{age}} {% endif %}>
        <button type="submit">Зарегистрироваться</button>
        {% else %}
        <p> {{form.username.label}}{{form.username}}
            {{form.password.label}}{{form.password}}
            {{form.repeat_password.label}}{{form.repeat_password}}
            {{form.age.label}}{{form.age}}<button type="submit">Зарегистрироваться</button></p>

        {% endif %}
        {% endblock %}
        {% block success %}
            </br>
            {{success}}
        {% endblock %}
    </form>
</body>
</html>